@model WebApplication1.Models.MediaCollection
@{
    ViewBag.Title = "Search - Video Starter Kit";
}

<h2>Search Results</h2>
<hr />

<div>
    <div>
        
    @if (Model.mediaAudios.Any())
    {
        <ul>
            @foreach (var item in Model.mediaAudios)
                {
                <li><audio src="@Url.Content(item.videofilename)" controls></audio></li>
            }
        </ul>
    }
    else
    {
            <p>No Audios found for the term you entered</p>
        }
        
    </div>

    <div>
        @if (Model.mediaPhotos.Any())
        {
            <ul>
                @foreach (var item in Model.mediaPhotos)
                {
                    <li><img src="@Url.Content(item.filename)" class="img-responsive" /></li>
                }
            </ul>
        }
        else
        {
            <p>No Photos found for the term you entered</p>
        }
    </div>

    <div>
        @if (Model.mediaVideos.Any())
        {
            <ul>
                @foreach (var item in Model.mediaVideos)
                {
                    <li><img src="@Url.Content(item.videofilename)" class="img-responsive" /></li>
                }
            </ul>
        }
        else
        {
            <p>No Videos found for the term you entered</p>
        }
    </div>


</div>
